In [4]:
"""
Author: Kostas Spyropoulos
Dr. Sam
CIS 2532 NET 01 
17.1 Program: Explores SQL with a book relational database
05/10/2022
First Run
"""
import sqlite3
import time
import pandas as pd

# variable connects to the books.db
connection = sqlite3.connect('C:\\Users\\kspyr\\Desktop\\CIS 2532\\HW 12\\books.db')

# print statement displays authors' last names in descending order
print(pd.read_sql('SELECT last FROM authors ORDER BY last DESC', connection))

print()

# print statement displays titles of books in ascending order
print(pd.read_sql('SELECT title FROM titles ORDER BY title ASC', connection))

print()

# print statement displays book information and identifies the author or authors of each book
print(pd.read_sql("""SELECT title, titles.isbn, copyright, authors.first, authors.last FROM titles INNER JOIN author_ISBN ON titles.isbn = author_ISBN.isbn INNER JOIN authors ON authors.id=author_ISBN.id ORDER BY title ASC""", connection))

# cursor object made
cursor = connection.cursor()

# inserts a new author 
cursor = cursor.execute("""INSERT INTO authors (id, first, last) VALUES ('6', 'Bob', 'Goodman')""")

# inserts new author's ISBN
cursor = cursor.execute("""INSERT INTO author_ISBN (id, isbn) VALUES ('6', '1234567899')""")

# inserts new author's book
cursor = cursor.execute("""INSERT INTO titles (isbn, title, edition, copyright) VALUES ('1234567899', 'Goodman Code', '99', '1999')""")

print()

# displays the titles of books including the new author's book
print(pd.read_sql('SELECT * FROM titles ORDER BY title ASC', connection))

print()

# displays the authors of books including the new author
print(pd.read_sql('SELECT * FROM authors ORDER BY last DESC', connection))

print()

# displays the ISBNs including the new author's ISBN
print(pd.read_sql('SELECT * FROM author_ISBN ORDER BY id DESC', connection))

     last
0    Wald
1   Quirk
2  Deitel
3  Deitel
4  Deitel

                              title
0         Android 6 for Programmers
1            Android How to Program
2                  C How to Program
3                C++ How to Program
4     Internet & WWW How to Program
5     Intro to Python for CS and DS
6               Java How to Program
7  Visual Basic 2012 How to Program
8          Visual C# How to Program
9         Visual C++ How to Program

                               title        isbn copyright      first    last
0          Android 6 for Programmers  0134289366      2016       Paul  Deitel
1          Android 6 for Programmers  0134289366      2016     Harvey  Deitel
2          Android 6 for Programmers  0134289366      2016  Alexander    Wald
3             Android How to Program  0134444302      2017       Paul  Deitel
4             Android How to Program  0134444302      2017     Harvey  Deitel
5                   C How to Program  0133976890      2016       Paul  Deitel
6                   C How to Program  0133976890      2016     Harvey  Deitel
7                 C++ How to Program  0134448235      2017       Paul  Deitel
8                 C++ How to Program  0134448235      2017     Harvey  Deitel
9      Internet & WWW How to Program  0132151006      2012       Paul  Deitel
10     Internet & WWW How to Program  0132151006      2012     Harvey  Deitel
11     Internet & WWW How to Program  0132151006      2012      Abbey  Deitel
12     Intro to Python for CS and DS  0135404673      2020       Paul  Deitel
13     Intro to Python for CS and DS  0135404673      2020     Harvey  Deitel
14               Java How to Program  0134743350      2018       Paul  Deitel
15               Java How to Program  0134743350      2018     Harvey  Deitel
16  Visual Basic 2012 How to Program  0133406954      2014       Paul  Deitel
17  Visual Basic 2012 How to Program  0133406954      2014     Harvey  Deitel
18  Visual Basic 2012 How to Program  0133406954      2014      Abbey  Deitel
19          Visual C# How to Program  0134601548      2017       Paul  Deitel
20          Visual C# How to Program  0134601548      2017     Harvey  Deitel
21         Visual C++ How to Program  0136151574      2008       Paul  Deitel
22         Visual C++ How to Program  0136151574      2008     Harvey  Deitel
23         Visual C++ How to Program  0136151574      2008        Dan   Quirk

          isbn                             title  edition copyright
0   0134289366         Android 6 for Programmers        3      2016
1   0134444302            Android How to Program        3      2017
2   0133976890                  C How to Program        8      2016
3   0134448235                C++ How to Program       10      2017
4   1234567899                      Goodman Code       99      1999
5   0132151006     Internet & WWW How to Program        5      2012
6   0135404673     Intro to Python for CS and DS        1      2020
7   0134743350               Java How to Program       11      2018
8   0133406954  Visual Basic 2012 How to Program        6      2014
9   0134601548          Visual C# How to Program        6      2017
10  0136151574         Visual C++ How to Program        2      2008

   id      first     last
0   5  Alexander     Wald
1   4        Dan    Quirk
2   6        Bob  Goodman
3   1       Paul   Deitel
4   2     Harvey   Deitel
5   3      Abbey   Deitel

    id        isbn
0    6  1234567899
1    5  0134289366
2    4  0136151574
3    3  0133406954
4    3  0132151006
5    2  0136151574
6    2  0135404673
7    2  0134743350
8    2  0134601548
9    2  0134448235
10   2  0134444302
11   2  0134289366
12   2  0133976890
13   2  0133406954
14   2  0132151006
15   1  0136151574
16   1  0135404673
17   1  0134743350
18   1  0134601548
19   1  0134448235
20   1  0134444302
21   1  0134289366
22   1  0133976890
23   1  0133406954
24   1  0132151006

In [5]:
"""
Author: Kostas Spyropoulos
Dr. Sam
CIS 2532 NET 01 
17.1 Program: Explores SQL with a book relational database
05/10/2022
Second Run 
"""
import sqlite3
import time
import pandas as pd

# variable connects to the books.db
connection = sqlite3.connect('C:\\Users\\kspyr\\Desktop\\CIS 2532\\HW 12\\books.db')

# print statement displays authors' last names in descending order
print(pd.read_sql('SELECT last FROM authors ORDER BY last DESC', connection))

print()

# print statement displays titles of books in ascending order
print(pd.read_sql('SELECT title FROM titles ORDER BY title ASC', connection))

print()

# print statement displays book information and identifies the author or authors of each book
print(pd.read_sql("""SELECT title, titles.isbn, copyright, authors.first, authors.last FROM titles INNER JOIN author_ISBN ON titles.isbn = author_ISBN.isbn INNER JOIN authors ON authors.id=author_ISBN.id ORDER BY title ASC""", connection))

# cursor object made
cursor = connection.cursor()

# inserts a new author 
cursor = cursor.execute("""INSERT INTO authors (id, first, last) VALUES ('6', 'Bob', 'Goodman')""")

# inserts new author's ISBN
cursor = cursor.execute("""INSERT INTO author_ISBN (id, isbn) VALUES ('6', '1234567899')""")

# inserts new author's book
cursor = cursor.execute("""INSERT INTO titles (isbn, title, edition, copyright) VALUES ('1234567899', 'Goodman Code', '99', '1999')""")

print()

# displays the titles of books including the new author's book
print(pd.read_sql('SELECT * FROM titles ORDER BY title ASC', connection))

print()

# displays the authors of books including the new author
print(pd.read_sql('SELECT * FROM authors ORDER BY last DESC', connection))

print()

# displays the ISBNs including the new author's ISBN
print(pd.read_sql('SELECT * FROM author_ISBN ORDER BY id DESC', connection))

     last
0    Wald
1   Quirk
2  Deitel
3  Deitel
4  Deitel

                              title
0         Android 6 for Programmers
1            Android How to Program
2                  C How to Program
3                C++ How to Program
4     Internet & WWW How to Program
5     Intro to Python for CS and DS
6               Java How to Program
7  Visual Basic 2012 How to Program
8          Visual C# How to Program
9         Visual C++ How to Program

                               title        isbn copyright      first    last
0          Android 6 for Programmers  0134289366      2016       Paul  Deitel
1          Android 6 for Programmers  0134289366      2016     Harvey  Deitel
2          Android 6 for Programmers  0134289366      2016  Alexander    Wald
3             Android How to Program  0134444302      2017       Paul  Deitel
4             Android How to Program  0134444302      2017     Harvey  Deitel
5                   C How to Program  0133976890      2016       Paul  Deitel
6                   C How to Program  0133976890      2016     Harvey  Deitel
7                 C++ How to Program  0134448235      2017       Paul  Deitel
8                 C++ How to Program  0134448235      2017     Harvey  Deitel
9      Internet & WWW How to Program  0132151006      2012       Paul  Deitel
10     Internet & WWW How to Program  0132151006      2012     Harvey  Deitel
11     Internet & WWW How to Program  0132151006      2012      Abbey  Deitel
12     Intro to Python for CS and DS  0135404673      2020       Paul  Deitel
13     Intro to Python for CS and DS  0135404673      2020     Harvey  Deitel
14               Java How to Program  0134743350      2018       Paul  Deitel
15               Java How to Program  0134743350      2018     Harvey  Deitel
16  Visual Basic 2012 How to Program  0133406954      2014       Paul  Deitel
17  Visual Basic 2012 How to Program  0133406954      2014     Harvey  Deitel
18  Visual Basic 2012 How to Program  0133406954      2014      Abbey  Deitel
19          Visual C# How to Program  0134601548      2017       Paul  Deitel
20          Visual C# How to Program  0134601548      2017     Harvey  Deitel
21         Visual C++ How to Program  0136151574      2008       Paul  Deitel
22         Visual C++ How to Program  0136151574      2008     Harvey  Deitel
23         Visual C++ How to Program  0136151574      2008        Dan   Quirk

          isbn                             title  edition copyright
0   0134289366         Android 6 for Programmers        3      2016
1   0134444302            Android How to Program        3      2017
2   0133976890                  C How to Program        8      2016
3   0134448235                C++ How to Program       10      2017
4   1234567899                      Goodman Code       99      1999
5   0132151006     Internet & WWW How to Program        5      2012
6   0135404673     Intro to Python for CS and DS        1      2020
7   0134743350               Java How to Program       11      2018
8   0133406954  Visual Basic 2012 How to Program        6      2014
9   0134601548          Visual C# How to Program        6      2017
10  0136151574         Visual C++ How to Program        2      2008

   id      first     last
0   5  Alexander     Wald
1   4        Dan    Quirk
2   6        Bob  Goodman
3   1       Paul   Deitel
4   2     Harvey   Deitel
5   3      Abbey   Deitel

    id        isbn
0    6  1234567899
1    5  0134289366
2    4  0136151574
3    3  0133406954
4    3  0132151006
5    2  0136151574
6    2  0135404673
7    2  0134743350
8    2  0134601548
9    2  0134448235
10   2  0134444302
11   2  0134289366
12   2  0133976890
13   2  0133406954
14   2  0132151006
15   1  0136151574
16   1  0135404673
17   1  0134743350
18   1  0134601548
19   1  0134448235
20   1  0134444302
21   1  0134289366
22   1  0133976890
23   1  0133406954
24   1  0132151006

In [6]:
"""
Author: Kostas Spyropoulos
Dr. Sam
CIS 2532 NET 01 
17.1 Program: Explores SQL with a book relational database
05/10/2022
Third Run 
"""
import sqlite3
import time
import pandas as pd

# variable connects to the books.db
connection = sqlite3.connect('C:\\Users\\kspyr\\Desktop\\CIS 2532\\HW 12\\books.db')

# print statement displays authors' last names in descending order
print(pd.read_sql('SELECT last FROM authors ORDER BY last DESC', connection))

print()

# print statement displays titles of books in ascending order
print(pd.read_sql('SELECT title FROM titles ORDER BY title ASC', connection))

print()

# print statement displays book information and identifies the author or authors of each book
print(pd.read_sql("""SELECT title, titles.isbn, copyright, authors.first, authors.last FROM titles INNER JOIN author_ISBN ON titles.isbn = author_ISBN.isbn INNER JOIN authors ON authors.id=author_ISBN.id ORDER BY title ASC""", connection))

# cursor object made
cursor = connection.cursor()

# inserts a new author 
cursor = cursor.execute("""INSERT INTO authors (id, first, last) VALUES ('6', 'Bob', 'Goodman')""")

# inserts new author's ISBN
cursor = cursor.execute("""INSERT INTO author_ISBN (id, isbn) VALUES ('6', '1234567899')""")

# inserts new author's book
cursor = cursor.execute("""INSERT INTO titles (isbn, title, edition, copyright) VALUES ('1234567899', 'Goodman Code', '99', '1999')""")

print()

# displays the titles of books including the new author's book
print(pd.read_sql('SELECT * FROM titles ORDER BY title ASC', connection))

print()

# displays the authors of books including the new author
print(pd.read_sql('SELECT * FROM authors ORDER BY last DESC', connection))

print()

# displays the ISBNs including the new author's ISBN
print(pd.read_sql('SELECT * FROM author_ISBN ORDER BY id DESC', connection))

     last
0    Wald
1   Quirk
2  Deitel
3  Deitel
4  Deitel

                              title
0         Android 6 for Programmers
1            Android How to Program
2                  C How to Program
3                C++ How to Program
4     Internet & WWW How to Program
5     Intro to Python for CS and DS
6               Java How to Program
7  Visual Basic 2012 How to Program
8          Visual C# How to Program
9         Visual C++ How to Program

                               title        isbn copyright      first    last
0          Android 6 for Programmers  0134289366      2016       Paul  Deitel
1          Android 6 for Programmers  0134289366      2016     Harvey  Deitel
2          Android 6 for Programmers  0134289366      2016  Alexander    Wald
3             Android How to Program  0134444302      2017       Paul  Deitel
4             Android How to Program  0134444302      2017     Harvey  Deitel
5                   C How to Program  0133976890      2016       Paul  Deitel
6                   C How to Program  0133976890      2016     Harvey  Deitel
7                 C++ How to Program  0134448235      2017       Paul  Deitel
8                 C++ How to Program  0134448235      2017     Harvey  Deitel
9      Internet & WWW How to Program  0132151006      2012       Paul  Deitel
10     Internet & WWW How to Program  0132151006      2012     Harvey  Deitel
11     Internet & WWW How to Program  0132151006      2012      Abbey  Deitel
12     Intro to Python for CS and DS  0135404673      2020       Paul  Deitel
13     Intro to Python for CS and DS  0135404673      2020     Harvey  Deitel
14               Java How to Program  0134743350      2018       Paul  Deitel
15               Java How to Program  0134743350      2018     Harvey  Deitel
16  Visual Basic 2012 How to Program  0133406954      2014       Paul  Deitel
17  Visual Basic 2012 How to Program  0133406954      2014     Harvey  Deitel
18  Visual Basic 2012 How to Program  0133406954      2014      Abbey  Deitel
19          Visual C# How to Program  0134601548      2017       Paul  Deitel
20          Visual C# How to Program  0134601548      2017     Harvey  Deitel
21         Visual C++ How to Program  0136151574      2008       Paul  Deitel
22         Visual C++ How to Program  0136151574      2008     Harvey  Deitel
23         Visual C++ How to Program  0136151574      2008        Dan   Quirk

          isbn                             title  edition copyright
0   0134289366         Android 6 for Programmers        3      2016
1   0134444302            Android How to Program        3      2017
2   0133976890                  C How to Program        8      2016
3   0134448235                C++ How to Program       10      2017
4   1234567899                      Goodman Code       99      1999
5   0132151006     Internet & WWW How to Program        5      2012
6   0135404673     Intro to Python for CS and DS        1      2020
7   0134743350               Java How to Program       11      2018
8   0133406954  Visual Basic 2012 How to Program        6      2014
9   0134601548          Visual C# How to Program        6      2017
10  0136151574         Visual C++ How to Program        2      2008

   id      first     last
0   5  Alexander     Wald
1   4        Dan    Quirk
2   6        Bob  Goodman
3   1       Paul   Deitel
4   2     Harvey   Deitel
5   3      Abbey   Deitel

    id        isbn
0    6  1234567899
1    5  0134289366
2    4  0136151574
3    3  0133406954
4    3  0132151006
5    2  0136151574
6    2  0135404673
7    2  0134743350
8    2  0134601548
9    2  0134448235
10   2  0134444302
11   2  0134289366
12   2  0133976890
13   2  0133406954
14   2  0132151006
15   1  0136151574
16   1  0135404673
17   1  0134743350
18   1  0134601548
19   1  0134448235
20   1  0134444302
21   1  0134289366
22   1  0133976890
23   1  0133406954
24   1  0132151006